/* Components */
@import url("css/reset.css");
@import url("css/accessibility.css");
@import url("css/typography.css");

/*--------------------------------------------------------------
General styles
--------------------------------------------------------------*/
img {
	display: block;
    border: 0;
    width: 100%;
    height: auto;
}

.addButton-style {
	position: fixed;
	bottom: 1em;
	right: 1em;
	z-index: 10;
}
/* NotFound Component
 **********************/
 .not-found {
  text-align: center;
}

/* Navbar Component
 **********************/
 .ui.right.floated.menu {
	 margin: 1rem 0 0 .5rem;
 }

 /* NoTask Main
 **********************/
 .relaxGirl-img {
	padding: 1em 0 1em 0;
 }
 .noTask-p {
	 text-align: center;
	 font-size: 25px;
	 padding-bottom: 1em;
 }

 /* Note Compontent
 **********************/
 .note-style {
	 padding: 1em 0 1em 0;
 }

 /* AddTask Componenet
 **********************/
.addTask-style {
	padding: 2em 0 2em 0;
}

.field{
	padding: 1.2em 0 1.2em 0;
}

.ui.form .inline.fields {
	margin: 0 0 2em;
}
 /* Title of section
 **********************/

/*--------------------------------------------------------------
If no grid support, limit width to 50em and center align
--------------------------------------------------------------*/
@supports not (display: grid) {
	.site {
		/* max-width: 50em;
		margin: 0 auto; */
	}
}



/*--------------------------------------------------------------
CSS Grid layout for wider screens, when browser supports grid:
--------------------------------------------------------------*/

@supports (grid-area: auto) {
	@media screen and (min-width: 50em) {
		.site {
			max-width: 50em;
			margin: 0 auto;
		}
		.addButton-style {
			right: calc(50% - 22em);
		}
		img {
			width: 70%;
			margin: 0 auto;
		}

		.note-style {
			max-width: 80%;
			margin: 0 auto;

		}
		.main-notes {
			margin-top: 1em;
		}

	}


	/*Bigger Screens */

	@media screen and (min-width: 65em) {



	}
}



