/* Components */
@import url("css/reset.css");
@import url("css/accessibility.css");
@import url("css/typography.css");

/*--------------------------------------------------------------
General styles
--------------------------------------------------------------*/

/* NotFound Component
 **********************/
 .not-found {
  text-align: center;
}

/* Navbar Component
 **********************/
 .navbar-style {
 }

 /* Title of section
 **********************/


/*--------------------------------------------------------------
If no grid support, limit width to 50em and center align
--------------------------------------------------------------*/
@supports not (display: grid) {
	.site {
		max-width: 50em;
		margin: 0 auto;
	}
}



/*--------------------------------------------------------------
CSS Grid layout for wider screens, when browser supports grid:
--------------------------------------------------------------*/

@supports (grid-area: auto) {
	@media screen and (min-width: 50em) {
		.site {
			max-width: none;
			display: grid
		}
	}


	/*Bigger Screens */

	@media screen and (min-width: 65em) {
		.site {
			/*GRID*/

		}
	}
}



